// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'components/show';
@import 'components/crud';
@import 'components/message';
@import 'components/navsearchbar';
@import 'components/stats';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* parte navbar */

/* fine navbar */
/* parte header */
.header{
  margin-top: 55px;
  height: 380px;
  padding-top: 45px;
}
/* header */

/* search */

.searchBar{
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #F8FAFC;
  form{
    width: 100%;
    max-width: 790px;
  }
}

.inputField {
  display: flex;
  flex-grow: 1;
  height: 68px;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  background-color: #f8fafc;
  border-radius: 15px;
  width: 100%;
  .bottoneCerca{
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    width: 40%;
    cursor: pointer;
    background-color: #FF385C;
    border-radius: 0 15px 15px 0;
    &:hover{
      background: #C10303;
    }
    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }
  .algolia-places{
    height: 100%;
    background-color: #F3DBDB;
    border-radius: 15px 0 0 15px;
    input{
      height: 100%;
      border: 0;
      display: block;
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #000;
      border-radius: 15px 0 0 15px;
      background-color: #F3DBDB;
      background: transparent;
      padding-left: 20px;
      &:focus{
        box-shadow: none;
        outline: 0;
      }

    }
  }

}

// .searchBar form .formInterno{
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
//   align-items: center;
//   box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
//   margin-bottom: 30px;
//   background-color: #f8fafc;
//   border-radius: 15px;
// }


// .searchBar form .formInterno .inputField input {
//   height: 100%;
//   background: transparent;
//   border: 0;
//   display: block;
//   width: 100%;
//   padding: 10px 0;
//   font-size: 16px;
//   color: #000;
//   border-radius: 34px;
// }
//
// /* da verificare */
//
// .searchBar form .formInterno .inputField input.placeholder {
//   color: #222;
//   font-size: 16px;
// }
//
// .searchBar form .formInterno .inputField input:hover, .searchBar form .formInterno .inputField input:focus{
//   box-shadow: none;
//   outline: 0;
// }
// /* stile input search */
// .searchBar form .formInterno .inputField.primoWrap{
//   border-radius: 15px 0 0 15px;
//   flex-grow: 1;
//   display: flex;
//   align-items: center;
//   background-color: #F3DBDB;
//   border-radius: 15px 0 0 15px;
// }
//
// .searchBar form .formInterno .inputField.primoWrap input {
//   flex-grow: 1;
// }
// /* fine stile input search */
//
// /* stile bottone search */
//
// .searchBar form .formInterno .inputField.secondoWrap {
//   min-width: 216px;
//
// }
//
// .searchBar form .formInterno .inputField.secondoWrap .bottoneCerca {
//   height: 100%;
//   width: 100%;
//   border-radius: 0 15px 15px 0;
//   white-space: nowrap;
//   font-size: 16px;
//   color: #fff;
//   border: 0;
//   cursor: pointer;
//   background-color: #FF385C;
//   border-radius: 0 15px 15px 0;
// }
//
// .searchBar form .formInterno .inputField.secondoWrap .bottoneCerca:hover{
//   background: #C10303;
// }
//
// .searchBar form .formInterno .inputField.secondoWrap .bottoneCerca:focus{
//   outline: 0;
//   box-shadow: none;
// }

/* fine bottone search */
/* fine searchbar */

/* nascondi ricerca avanzata */

#ricercaAvanzata{
    outline: 0;
    border: transparent;
    border-radius: 4px;
    background-color: #FF385C;
    color: #FFF;
    padding: 2px;
}

#containerRicercaAvanzata{
  padding: 10px 0;
  display: none;
}
/* inizio range slider */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #F3DBDB;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF385C;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
  background-color: #C10303;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF385C;
  cursor: pointer;
}

.slider::-moz-range-thumb:hover{
  background-color: #C10303;
}

.textValues{
  display: flex;
  justify-content: space-between;
}

.range{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* fine range slider */

/* parte input numbers */
.numbersService{
  display: flex;
  width: 100%;
  justify-content: space-around;
  .rooms,
  .beds {
    width: 20%;
    input{
      width: 60%;
      background-color: #F3DBDB;
      border: 0;
      outline: transparent;
      border-radius: 10px;
      padding-left: 10px;
    }
  }
/* checkboxes */
  .service{
    width: 60%;
    .containerCheckbox{
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #F3DBDB;;
        }
      input:checked ~ .checkmark {
        background-color: #ff385c;
        }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        }
      input:checked ~ .checkmark:after {
        display: block;
        }
      .checkmark:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        }
    }
    .serviceText{
      margin-left: 20px;
    }
  }
}
/* fine parte input numbers */
/* inizio content */
.content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .cardRent{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    width: calc(100% / 4);
    background-color: #FFF;
    margin: 20px;

    .cardimg{
      height: 70%;
      width: 100%;

      img{
        max-height: 100%;
        width: 100%;
        border-radius: 30px 30px 0 0;
      }
    }
    .cardtext{
      height: 30%;
      width: 100%;
      p{
        text-align: center;
      }
    }

  }
}
/* fine content */

/* inizio footer */

.footer{
  min-height: 15vh;
  display: flex;
  padding: 10px 150px;
  border-bottom: 1px solid lightgrey;
  background-color: #FF385C;

  ul{
    width: 33%;
    li{
      list-style-type: none;
      a {
        text-decoration: none;
        color: grey;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

.sottoFooter{
  padding: 10px 150px;
  color: grey;
}

/* fine footer */
