// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'components/show';
@import 'components/crud';
@import 'components/message';
@import 'components/navsearchbar';
@import 'components/search';
@import 'components/stats';
@import 'components/pay';
@import 'components/header';
@import 'components/user';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'myFont';
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* parte navbar */

/* fine navbar */

/* inizio content */
.content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 70px 0;

  .sponsoredTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: $housecolor;
  }

  .cardRent{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    width: calc(100% / 4);
    background-color: #FFF;
    margin: 20px;
    transition: transform .2s;
    position: relative;
    .star{
      position: absolute;
      color: gold;
      font-size: 30px;
      top: 0;
      left: 20px;
    }
    &:hover{
      transform: scale(1.1);
    }

    .cardimg{
      height: 70%;
      width: 100%;

      img{
        max-height: 100%;
        width: 100%;
        border-radius: 30px 30px 0 0;

      }
    }
    .cardtext{
      padding-top: 10px;
      height: 30%;
      width: 100%;
      text-align: start;
      padding-left: 8px;
      h2{
        font-size: 24px;
        text-align: center;
        text-transform: capitalize;
        color: $housecolor;
        font-weight: bold;
      }
      h3{
        font-size: 18px;
        text-align: center;
      }
      .services{
        width: 70%;
        margin: 12px auto 0;
        ul{
          display: flex;
          justify-content: space-around;
          list-style-position: inside;
          list-style-type: none;
          img{
            width: 20px;
            height: auto;
          }
        }
      }
    }

  }
}
/* fine content */

/* inizio footer */

.footer{
  min-height: 15vh;
  display: flex;
  padding: 10px 150px;
  border-bottom: 1px solid lightgrey;
  background-color: #FF385C;

  ul{
    width: 33%;
    li{
      list-style-type: none;
      a {
        text-decoration: none;
        color: grey;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

.sottoFooter{
  padding: 10px 150px;
  color: grey;
}

/* fine footer */
