.messageContainer{
  min-height: 70vh;
  margin-top: 100px;
  .formContainer{
    width: 50%;
    margin: auto;
    form{
      display: flex;
      flex-direction: column;
      input[type="email"]{
        width: 50%;
      }

    }
  }
}

.inbox {

  table {
    margin: auto;
    max-width: 1100px;
  }

  table,
  td,
  tr,
  th {
    border: 1px solid black;
  }
}
