
.search-content {
  margin: 55px 0;

  a{
    display: block;
  }

  .sponsorApartments{
    padding: 30px 0;
    max-width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto 30px;


    .titleSponsored{
      margin-bottom: 20px;
      h2{
        color: #92174d;
        font-weight: bold;
        font-size: 2rem;
      }
    }
    .sponsored{
      background-color: #fff;
      border: 2px inset #FF385C;
      border-radius: 15px;
      position: relative;
      box-shadow: 19px 5px 30px 0px rgba(0, 0, 0, 0.71);
      cursor: pointer;
      transition: transform .2s;
      &:hover{
        transform: scale(1.04);
      }

      /* ribbon style */

       .ribbon-wrapper {
      	position: absolute;
        bottom: 20px;
        left: -2px;
      }
        .ribbon-front {
      	background-color: #FF385C;	height: 40px;
      	width: 160px;
      	position: relative;
      	left:-10px;
      	z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gold;
        font-size: 1.1rem;
      }

        .ribbon-front,
        .ribbon-back-left,
        .ribbon-back-right
      {
      	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
      	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
      	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
      	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
      }

        .ribbon-edge-topleft,
        .ribbon-edge-topright,
        .ribbon-edge-bottomleft,
        .ribbon-edge-bottomright {
      	position: absolute;
      	z-index: 1;
      	border-style:solid;
      	height:0px;
      	width:0px;
      }

        .ribbon-edge-topleft,
        .ribbon-edge-topright {
      }

        .ribbon-edge-bottomleft,
        .ribbon-edge-bottomright {
      	top: 40px;
      }

        .ribbon-edge-topleft,
        .ribbon-edge-bottomleft {
      	left: -10px;
      	border-color: transparent #AE293F transparent transparent;
      }

        .ribbon-edge-topleft {
      	top: -10px;
      	border-width: 10px 10px 0 0;
      }
        .ribbon-edge-bottomleft {
      	border-width: 0 10px 0px 0;
      }

        .ribbon-edge-topright,
        .ribbon-edge-bottomright {
      	left: 150px;
      	border-color: transparent transparent transparent #AE293F;
      }

        .ribbon-edge-topright {
      	top: 0px;
      	border-width: 0px 0 0 0px;
      }
        .ribbon-edge-bottomright {
      	border-width: 0 0 0px 0px;
      }

        .ribbon-back-left {
      	position: absolute;
      	top: -10px;
      	left: -30px;
      	width: 30px;
      	height: 40px;
      	background-color: #FF385C;	z-index: 0;
      }

        .ribbon-back-right {
      	position: absolute;
      	top: 0px;
      	right: 0px;
      	width: 0px;
      	height: 40px;
      		z-index: 0;
      }


    }
  }



  .apartmentContainer{
    margin-top: 55px;
    padding: 30px;

    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
    background-color: rgba(116, 140, 156, 0.06);
    cursor: pointer;
    border: 1px dotted black;
    border-radius: 10px;

    .imgApartment{

      img{
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

      }

    }
    .textApartment{

      .titleApartment{
        h2{
          text-transform: capitalize;
          color: #FF385C;
          font-weight: bolder;
        }
        h4{
          font-style: italic;

          font-weight: bolder;
        }
      }
      .descriptionApartment{
        p{
          font-size: 22px;
          font-style: oblique;
          margin-top:30px;
        }
      }
    }
    .serviceApartment{
      width: 15%;
      .specifiche{
        border-bottom: 2px solid #FF385C;
        .iconList{
          font-size: 25px;
          list-style: none;
        }
      }
    }
    .service{
      padding-top: 20px;
      width: 100%;
      ul{
        width: 80%;
        margin: auto;
        list-style: none;
        line-height: 35px;
        text-transform: capitalize;
        display: flex;
        flex-wrap: wrap;
        li{
          font-size: 20px;
          width: 50%;
        }
        img{
          width: 27.75px;
          height: 25px;
          vertical-align: text-bottom;
        }
      }
    }
  }
}


// media query SEARCH ------------------------------------------------------------------------------------>
@media screen  and (max-width: 900px){

  .sponsored:before{
    bottom: 7px;
    font-size: 12px;
  }
  .apartmentContainer{
    max-width: 80%;
    min-height: 430px;
    max-height: 600px;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 290px;

    .imgApartment{
      width: 100%;
      min-height: 260px;
      max-height: 300px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      img{
        min-width: 200px;
        max-height: 100%;
        min-height: 80%;
        max-width: 80%;
      }
    }

      .textApartment{
        width: 100%;
        text-align: center;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        .titleApartment{
          h2,h4{
            font-size: 1.2rem;
          }
        }
        .descriptionApartment{
          display: none;
        }
      }

    .serviceApartment{
      display: none;
    }
  }
  .notSponsored{
    padding: 0 20px;

  }
}

@media screen and (min-width:901px) and (max-width:1399px){
  .sponsored:before{
    bottom: 8px;
    font-size: 12px;
  }
  .apartmentContainer{
    max-height: 350px;
    min-width: 720px;
    max-width: 1000px;
    justify-content: space-between;

    .imgApartment{
      width: 40%;
      img{
        max-width: 100%;
        min-width: 300px;
      }
    }
    .textApartment{
      width: 25%;
      .titleApartment{
        h2,h4{
          font-size: 1.5rem;
        }
      }
      .descriptionApartment{
        display: none;
      }
    }
    .serviceApartment{
      width: 25%;
    }
  }

  .notContainer{
    padding: 40px 20px;
  }
}

@media screen and (min-width:1400px){
  .sponsored:before{
    bottom: 25px;
    font-size: 16px;
  }
  .apartmentContainer{
    width: 60%;
    min-height: 400px;
    max-height: 400px;
    justify-content: space-between;

    .imgApartment{
      width: 40%;
     max-height: 340px;
     img{
       max-width: 95%;
       height: 80%;
     }
    }
    .textApartment{
      width: 40%;
      .titleApartment{
        h2{
          font-size: 2rem;
        }
        h4{
          font-size:1.7rem;
        }
      }
    }
  }

  .notContainer{
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 40px);
    .notSponsored{
      width: 45%;
    }
  }
}
