.showContainer{
  margin-top: 55px;
  min-height: 70vh;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .apartmentDetails{
    display: flex;
    justify-content: space-around;
    width: 80%;
    min-width: 640px;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 20px;



    .photoApartmentName{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      width: 30%;
      height: 100%;
      .housename{
        height: 10%;
          h3{
            font-weight: bolder;
            border: 1px solid #FF385C;
            padding: 3px;
            box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
            border-radius: 10px;
            width: 60%;
            min-width: 200px;
          }
        }
        .houseimg{
          height: 300px;
          img{
            width: 100%;
            min-width: 300px;
            max-width: 440px;
            height: 300px;
            border-radius: 20px;
            box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
          }
        }
    }

    .contaninerMap{
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .maptitle{
        height: 10%;
      }
      #map{
        height: 300px;
        width: 100%;
        max-width: 440px;
        border-radius: 20px;
        min-width: 300px;
        box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
      }
    }
  }

    .provashow{
      width: 80%;
      margin: 0 auto;
      display: flex;
      padding:20px 0;
      border-bottom: 2px solid #FF385C;
      border-top: 2px solid #FF385C;
      p{
        width: 60%;
        margin-right: 5%;
        font-size: 20px;
      }
      ul{
        width: 40%;
        li{
          font-size: 20px;
        }
      }
    }
  }
