.showContainer{
  margin-top: 55px;
  min-height: 70vh;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .apartmentDetails{
    display: flex;
    justify-content: space-around;
    width: 80%;
    min-width: 640px;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 20px;



    .photoApartmentName{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      width: 30%;
      height: 100%;
      .housename{
        height: 10%;
        text-align: center;

          h3{
            font-weight: bolder;
            padding: 3px;
            box-shadow: 4px 4px rgba(136, 136, 136, 0.31);
            border-radius: 10px;
            min-width: 200px;
            color: #92174d;
            text-transform: capitalize;
          }
        }
        .houseimg{
          height: 300px;
          border-radius: 20px;
          border: 1px inset #FF385C;
          img{
            width: 100%;
            min-width: 300px;
            max-width: 440px;
            height: 300px;
            border-radius: 20px;
            box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
            object-fit: cover;
          }
        }
    }

    .contaninerMap{
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .maptitle{
        height: 10%;
        text-align: center;

        h3{
          box-shadow: 4px 4px rgba(136, 136, 136, 0.31);
          border-radius: 10px;
          color: #92174d;
          font-weight: bolder;
        }
      }
      #map{
        height: 300px;
        width: 100%;
        max-width: 440px;
        border-radius: 20px;
        min-width: 300px;
        box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
        border-radius: 1px inset #FF385C;
      }
    }
  }

    .provashow{
      width: 80%;
      margin: 0 auto;
      display: flex;
      padding:20px 0;
      border-bottom: 2px solid #FF385C;
      border-top: 2px solid #FF385C;

      .apartmentDescription {
        width: 60%;

        p{
          // width: 60%;
          margin-right: 5%;
          font-size: 20px;
        }
      }

      .apartmentInfo {
        width: 40%;
        display: flex;

        ul{
          width: 50%;
          .infotitle{
            font-size: 1.3rem;
            color: #FF385C;
            font-weight: bold;
          }
          li{
            line-height: 40px;
            list-style-type: none;
          }
          img{
            width: 25px;
            height: auto;
            margin-right: 10px;
          }

          .fas,
          .far {
            width: 25px;
          }
        }
      }

    }

    .containerTotPropr {
      width: 100%;

      .messageContainer{
        margin-top: 100px;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;

        .formContainer{
          width: 100%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;


          form{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 440px;
            width: 100%;

            input[type="email"]{
              width: 50%;
              border-radius: 10px;
              text-align: center;
              &:focus{
                outline: 0;
              }
            }
            textarea{
              width: 100%;
              border-radius: 10px;
              margin: 20px 0;
              padding: 5px 12px;
              border: 1px outset #FF385C;
              &:focus{
                outline: 0;
              }
            }
              input[type="submit"]{
              width: 50%;
              border-radius: 10px;

            }
            input[type="email"]{
              background-color: #f8fafc;
            }
          }
        }
      }
    }
  }

  // media query SHOW------------------------------>
    @media screen and (max-width: 800px) {
    .showContainer{
      margin-top: 70px;
      min-height: 70vh;
      padding: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .apartmentDetails{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 2px solid #FF385C;


        .photoApartmentName{
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 100%;
          margin-bottom: 20px;
            .housename {
              margin-bottom: 10px;
            }

            .houseimg{

              img{
                width: 100%;
                min-width: 220px;
                max-width: 440px;
                border-radius: 20px;
                box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
              }
            }
        }

        .contaninerMap{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .maptitle {
            margin-bottom: 10px;
          }

          #map{
            height: 300px;
            width: 100%;
            max-width: 440px;
            border-radius: 20px;
            min-width: 300px;
            box-shadow: 5px 10px rgba(136, 136, 136, 0.31);
            border: 1px inset #FF385C;
          }
        }
      }

        .provashow{
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          padding:20px 0;

          .apartmentDescription {
            width: 100%;
          }

          .apartmentInfo{
            width: 100%;
          }

          p{
            margin-right: 5%;
            font-size: 20px;
          }
          ul{
            width: 40%;
            li{
              font-size: 20px;
            }
          }
        }
      }
      // .footer{
      //   min-height: 15vh;
      //   display: flex;
      //   padding:50px;
      //   border-bottom: 1px solid lightgrey;
      //   background-color: #FF385C;
      //   width: 100%;
      //
      //   ul{
      //     width: 100%;
      //     li{
      //       list-style-type: none;
      //       a {
      //         text-decoration: none;
      //         color: grey;
      //         font-size: 14px;
      //         line-height: 30px;
      //       }
      //     }
      //   }
      // }
    }
